<div class="container salary-calculator">
  <div class="row">
    <div class="col-md-12 title">
      <label>Application for calculate salary</label>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <label>Write day salary:</label>
    </div>
    <div class="col-md-6">
      <input type="number" name="daySalary" class="form-control" [(ngModel)]="calculateModel.dailyPayGross">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <label>Choose country:</label>
    </div>
    <div class="col-md-6">
      <select class="form-control" [(ngModel)]="calculateModel.codeCountry">
        <option *ngFor="let country of countries" value={{country.code}}>
          {{country.name}}
        </option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <button class="btn btn-primary" type="button" (click)="onCalculate()">Calculate</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>Result:</label>
    </div>
    <div class="col-md-6">
      <label>{{resultCalculate}}</label>
    </div>
  </div>

  <div *ngIf="countriesCalculatorError" class="error">Error when receiving data</div>
</div>
